body {
    font-family: Arial, sans-serif;
}
h1 {
    color: #4C70AF;
    margin-bottom: 20px;
    text-align: center;
}
form {
    width: 36%;
    margin: auto;
}
legend {
    color: #4C70AF;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
fieldset {
    border: 2px solid #4C70AF;
    border-radius: 5px;
    font-size: 14px;
} 
input {
    width: 100%;
    border: 1px solid red;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px 0px;
    text-indent: 5px;
    margin-bottom: 14px; 
}
select {
    width: 100px;
    border-color: blue;
    border-radius: 5px;
    padding: 8px 0px;
    width: 100%;
    text-indent: 5px;
    margin-bottom: 14px;
    box-shadow: 0px 0px 4px#4C70AF;
}
textarea {
    width: 100%;
    height: 64px;
    padding-top: 5px;
    padding-left: 5px;
}
#fmieszkanie {
    border-color: lime;
}
.left {
    float:left;
    width: 48%;
    margin-right: 4%;
}
.right {
    float: left;
    width: 48%;
}
button {
    margin-top: 10px;
    width: 100%;
    padding: 9px;
    background-color: #4C70AF;
    color: white;
    border-radius: 3px;
    border-width: 0px;
    border: 0,5px solid blue;
}
